
<style>

    #auth {
        margin: 0 auto;
        margin-top: 100px;
        padding: 10px;
        width: 400px;
    }

    #auth ul {
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background: #ffffff;
    }

    #auth ul li {
        margin: 10px 10px 10px 50px;
        list-style: none;
        font-weight: 300;
    }

    #auth ul li img {
        width: 32px;
        vertical-align: middle;
        margin-right: 10px;
    }

    #auth ul li a {
        text-decoration: none;
        color: #444;
    }

</style>

<div id="auth">
<!--
    <form action="/login" method="post">
        <fieldset>
            <label>Username</label>
            <input type="text" name="username"/><br/>
        </fieldset>
        <fieldset>
            <label>Password</label>
            <input type="password" name="password"/>
        </fieldset>
        <fieldset style="text-align: right;">
            <input type="submit" value="Submit" class="button primary" />
        </fieldset>
    </form>
-->

    <ul>
        <li><a href="/auth/google"><img src="images/login/google.png"/>Sign On with Google</a></li>
    </ul>
</div>
