<div id="content-header">
    <div id="content-header-title">
        <h1>Devices</h1>
    </div>
    <div id="content-header-actions">
        <span class="btn" ng-click="createDevice()">Create</span>
    </div>
</div>

<table class="dataset">
    <thead>
        <tr>
            <th>Id</th>
            <th>Token</th>
            <th>Udid</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            <tr  ng-repeat="device in devices">
                <td>{{device.id}}</td>
                <td>{{device.token}}</td>
                <td>{{device.udid}}</td>
                <td>
                    <a href="#/devices/{{device.id}}/updateForm">Edit</a> -
                    <a href="#/devices/{{device.id}}/delete">Delete</a>
                </td>
            </tr>
    </tbody>
</table>
